<!-- Here is a list of courses and a text box to filter among the courses. Just type your course name in the textbbox and see the result-->
<!DOCTYPE HTML>
<html>
    <head>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        
    </head>
    <body ng-app="myApp" ng-controller="searchController">
        <input type="text" placeholder="Enter your search term here" ng-model="searchquery"/>
        <br/>
        <ul>
            <li ng-repeat="x in courseList | filter:searchquery">{{x}}</li>
        </ul>
        <script>
            var app = angular.module('myApp', []);
            
            app.controller('searchController', function($scope){
                
                $scope.courseList = ['Angular JS', 'PHP MySql', 'Oracle', 'Web Designing', 'Java', 
                                        'DotNet', 'C++', 'Python', 'Perl', 'Hadoop'];
                
            });
        </script>
    </body>
</html>
